$principal-color: #673ab7;
$secondary-color: #6c6c6c;
$color-white: white;

.card-left {
    width: 400px;
    box-shadow: none !important;
    background-color: transparent;
}

.example-tab-icon {
    margin-right: 8px;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}
  
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.title {
    color: $secondary-color;
}

.sub-title {
    color: $principal-color;
}

.form {
    margin-left: 3%;
}

::ng-deep .mat-form-field-infix {
    width: 400px !important;
}

::ng-deep .mat-form-field-flex {
    width: 400px !important;
}

.example-card {
    max-width: 460px;
}

.list-title {
    color: $color-white;
}