<br>
<br>
<br>
<div class="row">
  <div class="col-sm-5">
      <div style="margin-bottom: 10px" class="text-center">
        <button (click)="openSnackBar()" style="background-color: white" mat-stroked-button>LOREM IPSUM</button>
      </div>
  </div>
  <div class="col-sm-7">
    <ul style="margin-left: 27px" class="nav">
      <form #loginForm="ngForm">
        <div class="row">
          <div class="col">
              <label for="inputPassword2" class="sr-only">Correo electronico</label>
              <input type="email" [(ngModel)]="signInModel.email" #email="ngModel" name="email" class="form-control" placeholder="Correo electronico" required>
              <div *ngIf="email.errors && (email.dirty || email.touched)"
               class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                  Este campo es obligatorio
                </div>
              </div>
          </div>

          <div class="col">
            <label for="inputPassword2" class="sr-only">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword2" [(ngModel)]="signInModel.pass" #password="ngModel" name="password" placeholder="Contraseña" required>

            <div *ngIf="password.errors && (password.dirty || password.touched)"
            class="alert alert-danger">
             <div [hidden]="!password.errors.required">
               Este campo es obligatorio
             </div>
            </div>
          </div>

          <div class="col">
            <button type="submit" [disabled]="!loginForm.form.valid" (click)="openDialogSignIn()" class="mb-2" color='primary' mat-raised-button>Iniciar sesion</button>
          </div>
        </div>
      </form>
    </ul>
  </div>
</div>
<br>
<div class="row">

  <!-- This is the left side -->
  <div class="col">
    <mat-card class="card-left">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <br>
        <br>
        <div class="text-right">
          <h5 class="title">Lorem ipsum lorem ipsum</h5>
          <br>
          <br>
          <h2 class="list-title">Lorem ipsum lorem</h2>
          <h4 class="list-title">lorem ipsum</h4>
          <h2 class="sub-title">Lorem ipsum lorem</h2>
        </div>
      </mat-card-content>
    </mat-card>  
  </div>

  <!-- this is the rigth side -->
  <div class="col">
    <mat-card class="example-card">
      <mat-card-content>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Registrate
              </ng-template>
              <mat-card>
                  <mat-card-header>
                    <mat-card-title class="title">Abre una cuenta</mat-card-title>
                    <mat-card-title class="sub-title">!Es gratis y lo sera siempre!</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="form">
                      <form  #Form="ngForm" (ngSubmit)="openDialogSignUp()">
                        <div class="row">
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input type="text" [(ngModel)]="signUpModel.name" #name="ngModel" name="name" matInput required>
                              <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Apellido</mat-label>
                              <input type="text" [(ngModel)]="signUpModel.lastName" #lastName="ngModel" name="lastName" matInput required>
                              <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Correo</mat-label>
                              <input type="email" [(ngModel)]="signUpModel.email" #emailUp="ngModel" name="email" matInput required>
                              <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Contraseña</mat-label>
                              <input type="password" [(ngModel)]="signUpModel.pass" #pass="ngModel" name="pass" matInput required>
                              <mat-icon matSuffix>lock_open</mat-icon>
                            </mat-form-field>
                          </div>
                          
                        </div>

                        <div class="row">
                          <div class="col">
                              <mat-form-field appearance="outline">
                                <mat-label>Como nos conociste?</mat-label>
                                <textarea matInput placeholder="Como nos conociste?"></textarea>
                              </mat-form-field>
                          </div>
                          
                        </div>

                        <div class="row">
                          <div class="col">
                              <button type="submit" [disabled]="!Form.form.valid" style="width: 104%; border-radius: 56px;" mat-raised-button color='primary'>Sign Up</button>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col">
                            <p>Al hacer click en 'Registrate', aceptas nuestras <a href="http://" target="_blank" rel="noopener noreferrer">Condiciones politica de privacidad</a></p>                              
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-card-content>
                </mat-card>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">share</mat-icon>
              </ng-template>
              <mat-card>
                <mat-card-header>
                  <mat-card-title class="title">Comparte!</mat-card-title>
                  <mat-card-title class="sub-title">!Es gratis tambien y lo sera siempre!</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <mat-card-title class="title">Puedes compartir en las siguientes redes.</mat-card-title>
                    <mat-list>
                      <h3 mat-subheader>Facebook</h3>
                      <mat-list-item>
                        <mat-icon mat-list-icon>public</mat-icon>
                        <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">@sigma_studios</a></h4>
                    
                      </mat-list-item>
                      

                      <h3 mat-subheader>Instagram</h3>
                      <mat-list-item>
                        <mat-icon mat-list-icon>public</mat-icon>
                        <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">@sigma_studios</a></h4>
                    
                      </mat-list-item>
                      

                      <h3 mat-subheader>Youtube</h3>
                      <mat-list-item>
                        <mat-icon mat-list-icon>public</mat-icon>
                        <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">@sigma_studios</a></h4>
                      </mat-list-item>

                      <h3 mat-subheader>O diles a tus amigos</h3>
                      <mat-list-item>
                        <mat-icon mat-list-icon>record_voice_over</mat-icon>
                        <h4 mat-line>Oye, son @sigma_studios</h4>
                      </mat-list-item>

                    </mat-list>
                </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>

      </mat-card-content>
    </mat-card>
    <br>
    <br>
    <br>
  </div>
</div>
