<div class="sgn-template">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <h5>Espera mientras te registras con los siguientes datos:</h5>
    <mat-list>
        <h3 mat-subheader>Nombre</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">{{ data.name}}</a></h4>
        
        </mat-list-item>
        

        <h3 mat-subheader>Apellido</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">{{ data.lastName}}</a></h4>
        
        </mat-list-item>
        

        <h3 mat-subheader>Correo</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <h4 mat-line> <a href="http://" target="_blank" rel="noopener noreferrer">{{ data.email}}</a></h4>
        </mat-list-item>
    </mat-list>
</div>