/* You can add global styles to this file, and also import other style files */

body {
    background-color: #1b1c26
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* Full height */
    height: 100%; 
    background-image: url('./assets/img/back-image.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #1b1c26;
    border: 1px solid #1b1c26;
}

.container-mod {
    padding-left: 13%;
    padding-right: 13%;
}